<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Entidades Prestadoras y Organismos</title>

    <link rel = "stylesheet" href="/public/css/administracionPantallas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body class="body">
  
      <!-- Barra de Navegacion -->
      {{#if esAdmin}}
          {{> navbarAdmin}}
      {{else}}
          {{> navbarUsuario}}
      {{/if}}

      <!-- Barra de Navegacion -->

      <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h3>Subir archivos CSV</h3>
                    </div>
                    <div class="card-body titulo">
                        <form action="/entidadesYorganismos" method="post" enctype="multipart/form-data">
                            <div class="form-group m-lg-3">
                                <label for="archivoEmpresas">Selecciona el archivo CSV de Empresas:</label>
                                <input type="file" class="form-control" name="archivoEmpresas" id="archivoEmpresas" accept=".csv">
                            </div>
                            <div class="form-group m-lg-3">
                                <label for="archivoOrganismos">Selecciona el archivo CSV de Organismos:</label>
                                <input type="file" class="form-control" name="archivoOrganismos" id="archivoOrganismos" accept=".csv">
                            </div>
                            <button type="submit" class="btn btn-dark custom-margin">Cargar Archivos</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
