<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Comunidades</title>

    <link rel = "stylesheet" href="/public/css/administracionPantallas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body class="body">
  
      <!-- Barra de Navegacion -->

      {{#if esAdmin}}
          {{> navbarAdmin}}
      {{else}}
          {{> navbarUsuario}}
      {{/if}}

      <!-- Barra de Navegacion -->

      <form method="post">
         <div class="container mt-5">
            <h1>Selecciona una opción:</h1>
             <select class="form-select" aria-label="Seleccione un Rol" name="nuevoRol">
                <option selected>Seleccione el rol</option>
                 <option value="MIEMBRO">MIEMBRO</option>
                <option value="ADMIN_COMUNIDAD">ADMIN_COMUNIDAD</option>
                <option value="ADMIN_PLATAFORMA">ADMIN_PLATAFORMA</option>
                <option value="RESPONSABLE">RESPONSABLE</option>
              </select>
                <button type="submit" class="btn btn-dark mt-2">Guardar</button>
        </div>
    </form>

</body>

</html>
