<nav class="navbar navbar-expand-md navbar-light titulo">
    <div class="container-fluid d-flex">
        <div class="justify-content-start text-light barra-izq">
            <a href="/home">
                <img class="utn-logo" src="/public/IMG/logo-utn.png" alt="LogoUTN" width="300" height="50">
            </a>
        </div>
        <div class="justify-content-end .d-flex barra-der">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="/incidentes">Incidentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="/rankings">Rankings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="/administracion">Administrar Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="/entidadesYorganismos">Cargar Archivos CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-dark fs-5 fw-medium">Nosotros</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>